# Created by .ignore support plugin (hsz.mobi)
.idea/
cache/
main/__pycache__/
main/migrations
myoscarfork/__pycache__/
present-me/__pycache__/
apps/promotions/migrations
present-me/local_settings.py
media/cache/
media/images/
apps/promotions/__pycache__/
templates/
__pycache__/
!/present-me/dev_settings.py
