# Created by .ignore support plugin (hsz.mobi)
.idea/
cache/
main/__pycache__/
main/migrations
myoscarfork/__pycache__/
present-me/__pycache__/
myoscarfork/promotions/migrations
present-me/local_settings.py
media/cache/
media/images/
myoscarfork/promotions/__pycache__/
templates/
__pycache__/
