# Created by .ignore support plugin (hsz.mobi)
.idea/
cache/46/
cache/78/
cache/ba/
cache/ee/
main/__pycache__/
main/migrations/__pycache__/
myoscarfork/__pycache__/
myoscarfork/promotions/
present-me/__pycache__/
templates/
